@CHARSET "UTF-8";
body {
	padding-top: 50px;
	padding-bottom: 50px;
}

.container {
	/*TEXT-ALIGN: center;*/
}

.container-fluid {
	TEXT-ALIGN: center;
}
/*
#player {
    MARGIN-RIGHT: auto;
    MARGIN-LEFT: auto;
}
*/
.page-header {
    MARGIN-RIGHT: auto;
    MARGIN-LEFT: auto;
}

.jumbotron {
	margin-top: 20px;
	margin-bottom: 20px;
}
