@CHARSET "UTF-8";

body {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 100px;
	padding-right: 100px;
}

.file-upload {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.container-fluid {
	TEXT-ALIGN: center;
}

.page-header {
    MARGIN-RIGHT: auto;
    MARGIN-LEFT: auto;
}

.jumbotron {
	margin-top: 20px;
	margin-bottom: 20px;
}

